@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
}

h1 {
    font-size: 4rem;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    padding: 10px;
}

figure img {
    width: 250px;
}

nav .menu-principal {
    display: flex;
    justify-content: space-around;
}

nav .menu-principal li { 
    margin: 0 10px;
    list-style-type: none;
}

section .background {
  width: 100%;
  overflow: hidden;
}

section .background img {
    width: 100%;
    
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-info {
    position: absolute;
    top: 50%;
    text-align: center;
}

.hero-info h1, .hero-info h2 {
    color: white;
    background: rgb(202, 97, 97);
}

.hero-info .botones button {
    padding: 10px 50px;
    margin: 10px 20px;
    background: rgb(202, 97, 97);
    color: white;
    font-weight: bold;
    border: solid white;
    border-radius: 10px;
}

.noticias {
    text-align: center;
    margin: 3rem;
}

.noticias h3 {
    color: rgb(155, 47, 65);
    margin: 10px;
    padding: 10px;
}

.noticias h2 {
    font-size: 3rem;
    margin: 20px 0 40px 0;
    color:rgb(155, 47, 65);
}

.noticias p {
    color: rgb(115, 58, 67);
}

footer {
    background: black;
    color:pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .subcription {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

form input {
    margin: 10px;
    padding: 10px 30px;
    border: none;
    background: pink;
}

form button {
    color: rgb(109, 102, 102);
    background: whitesmoke;

}

footer .social ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer .social ul li a{
    margin: 10px;
    color: white;
    font-size: 2rem;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    header {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    figure {
        width: 100%;
        text-align: center;
    }
    
    nav .menu-principal {
        margin-bottom: 2rem;
        width: 100%;
        display: block;
        text-align: center;
    }

    .hero {
        position: static;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
    }
    
    .hero-info {
        position: static;
        text-align: center;
    }
    
    .hero-info h1, .hero-info h2 {
        color: white;
    }
    
    .hero-info .botones button {
        padding: 10px 50px;
        margin-top: 2rem;
        background: rgb(202, 97, 97);
        color: white;
        font-weight: bold;
        border: solid white;
        border-radius: 10px;
    }
    .noticias h2 {
        font-size: 2rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: flex;
        color: pink;
        background-color: black;
    }

}




/*
position:
    - static --> doesn't move
    - relative --> in relation to it's parent container
    - absolute --> in relation to it's parent container which is not static
*/